<!doctype html>
<title>{% block title %}{% endblock %} - Poplavni alarm</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<nav>
  <h1>Poplavni alarm</h1>

  <!-- ➡️ NOVI LINKI ZA HITRO SKAKANJE -->
  <ul>
    <li><a href="{{ url_for('scrape.scrape') }}">🌊&nbsp;Meritve</a>
    <li><a href="{{ url_for('scrape.notify') }}">📧&nbsp;Obvestila</a>

    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Odjava</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Registracija</a>
      <li><a href="{{ url_for('auth.login') }}">Prijava</a>
    {% endif %}
  </ul>
</nav>

<section class="content">
  <header>{% block header %}{% endblock %}</header>

  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  {% block content %}{% endblock %}
</section>
